; EditorConfig is awesome: http://EditorConfig.org

root = true  ; top-most EditorConfig file

; Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true

; Space indention of 4 for all js files
[*.js]
indent_style = space
indent_size = 4

; Indentation override for the node based Gruntfile
[Gruntfile.js]
indent_style = space
indent_size = 2