[submodule "vendor/qunit"]
	path = vendor/qunit
	url = git://github.com/jquery/qunit.git
[submodule "vendor/qunit-logging"]
	path = vendor/qunit-logging
	url = git://github.com/keithamus/qunit-logging
