[submodule "vendor/underscore"]
	path = vendor/underscore
	url = git://github.com/documentcloud/underscore.git
[submodule "vendor/backbone"]
	path = vendor/backbone
	url = git://github.com/documentcloud/backbone.git
[submodule "vendor/qunit"]
	path = vendor/qunit
	url = git://github.com/jquery/qunit.git
